@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

html {
  font-size: 16px;
}

:root {
    --color-azul-institucional: #003A70;
    --color-azul-generation: #0066CC;
    --color-cian-dinamico: #00A8E0;
    --color-verde-impacto: #00B87D;
    --color-verde-impacto-oscuro: #32b34d;
    --color-azul-suave: #E8F3FF;
    --color-gris-claro: #D1DEEA;
    --color-gris-texto: #5F6368;
    --color-oscuro-principal: #1A1A2E;
    --color-blanco: #FFFFFF;
    --border-radius-principal: 20px;
    --border-radius-secundario: 15px;
    --border-radius-terciario: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, Montserrat, sans-serif;
  background: var(--color-blanco);
}

.register-container {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
}

.content-register {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    width: 600px;
    border: 2px solid rgb(255, 22, 22);
    border-radius: var(--border-radius-secundario);
}

.names {
    display: flex;
    gap: 20px;
}

.name, .lastname {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.required {
  color: #e25c5c;
}

#password-parameters {
    font-size: 12px;
}

#terms-cond {
    font-size: 14px;
}

.content-register h2, 
.content-register p {
    text-align: center;
}

.content-profile{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    width: 600px;
    border: 2px solid rgb(70, 27, 242);
    border-radius: var(--border-radius-secundario);
}

.content-expert {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    width: 600px;
    border: 2px solid rgb(14, 201, 42);
    border-radius: var(--border-radius-secundario);
}

.content-disponibility {
   display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    width: 600px;
    border: 2px solid rgb(254, 108, 232);
    border-radius: var(--border-radius-secundario);
}

.contenedor-formulario-registro {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border: 2px solid rgb(49, 255, 214);
    align-items: center;
}