html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

:root {
    --color-azul-institucional: #003A70;
    --color-azul-generation: #0066CC;
    --color-cian-dinamico: #00A8E0;
    --color-verde-impacto: #00B87D;
    --color-azul-suave: #E8F3FF;
    --color-gris-claro: #D1DEEA;
    --color-gris-texto: #5F6368;
    --color-oscuro-principal: #1A1A2E;
    --color-blanco: #FFFFFF;
    --border-radius-principal: 20px;
    --border-radius-secundario: 15px;
    --border-radius-terciario: 10px;
}

header{
    padding: 100px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 40px;
    color: var(--color-blanco);
    text-shadow: 3px 3px var(--color-azul-institucional);
    position: relative;
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(imagenes/header.jfif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
}
#mision{
   
}
