/* Inicio Daniel */

.tabs__list {
  display: flex;
  gap: 15px;
}

.tabs__list li{
  list-style: none;
  padding: 10px 15px;
  border-radius: var(--border-radius-terciario);
}

.tabs__list__tab {
  background: var(--color-gris-claro);
}

.tabs__list__tab--active {
  background: var(--color-azul-generation);
  color: var(--color-blanco);
  transform: scale(1.1) translateY(-2px);
}

#formulario_video .tabs__content {
  display: none; 
}

#formulario_video .tabs__content--active {
  display: block;
}

.error {
  color: red;
  
}

/* Fin Daniel */

/* SECCIONES */

.section-grabaciones {
  max-width: 1200px;
  margin: 20px auto;
  margin-bottom: 80px;
  padding: 20px;
}

.section-grabaciones h2 {
  margin-bottom: 24px;
  font-size: 2rem;
  color: var(--color-azul-institucional);
}

/* GRID */

.grid-grabaciones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px;
}

/* TARJETAS WEBINARS */

.card {
    display: block;
    text-decoration: none;
    color: var(--color-azul-suave);
    margin: 0 auto;
    background: var(--color-azul-institucional);
    border-radius: var(--border-radius-principal);
    overflow: hidden;

    transition: 0.2s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
}

.card:hover {
  transform: translateY(-5px);
}

.thumbnail {
  position: relative;
  height: 260px;
  overflow: hidden;
}

.thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.duracion {
  position: absolute;
  right: 12px;
  bottom: 12px;

  padding: 6px 10px;

  background: rgba(0,0,0,.8);
  color: white;

  border-radius: 8px;
  font-size: .85rem;
}

.card-content {
  padding: 20px;
}

.categoria {
  display: inline-block;

  padding: 6px 12px;

  background: var(--color-azul-suave);
  color: var(--color-azul-institucional);

  border-radius: 999px;
  font-size: .8rem;
  font-weight: 600;
}

.card-content h3 {
  margin: 12px 0;
  line-height: 1.4;
}

.info {
  color: var(--color-gris-claro);
  font-size: .9rem;
}


/* RESPONSIVE */

@media (max-width: 768px) {
  .section-grabaciones h2 {
    font-size: 1.6rem;
  }

  .thumbnail {
    height: 220px;
  }
}

/* Inicio Main */

.contenedor-main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
}

.contenedor-main-header {
    justify-content: left;
}

.contenedor-main-header h1 {
    font-weight: 800;
    font-size: 50px;
}

.contenedor-main-header p {
    padding: 10px 0;
    font-size: 18px;
}

.contenedor-main-header input {
    height: 55px;
    width: 500px;
    margin-top: 15px;
    padding: 0 18px;
    font-size: 1.1rem;
    border: 1px solid var(--color-gris-claro);
    border-radius: var(--border-radius-terciario);
}

.btn-buscar-sesiones {
    border: 1px solid var(--color-gris-claro);
    border-radius: 999px;
    background: var(--color-verde-impacto);
    color: var(--color-blanco);
    padding: 0.6rem 1rem;
    cursor: pointer;
    font-weight: 600;
}

.filtros-busqueda-sesiones {
   display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 10px;
}

.filtros-busqueda-sesiones a {
    text-decoration: none;
    color: var(--color-azul-institucional);
    font-weight: 600;
    padding: 0.6rem 1rem;
    border: 1px solid var(--color-gris-claro);
    border-radius: 999px;
    background-color: var(--color-blanco);
    cursor: pointer;
    white-space: nowrap;
}

#open-video-form, #open-manage-video-form {
    border: 1px solid var(--color-gris-claro);
    border-radius: 999px;
    background: var(--color-cian-dinamico);
    color: var(--color-blanco);
    padding: 0.6rem 1rem;
    cursor: pointer;
    font-weight: 600;
}

#open-video-form{
  margin-left: 270px;
}

@media (max-width: 480px) {
  .filtros-busqueda-sesiones a {
    padding: 0.6rem 1rem;
  }
}
